<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <!-- 编辑器Star-->

    <link href="~/Content/umditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="~/Content/umditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/umditor/umeditor.min.js"></script>
    <script type="text/javascript" src="~/Content/umditor/lang/zh-cn/zh-cn.js"></script>


    <script type="text/javascript" charset="utf-8" src="~/Content/js/ImgUp.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    @* ReSharper disable once NotAllPathsReturnValue *@
    <!-- 上传样式 -->
    <style>
        .perview {
            width: 600px;
            background: #fff;
            font-size: 12px;
            border-collapse: collapse;
        }

            .perview td, .perview th {
                padding: 5px;
                border: 1px solid #ccc;
            }

            .perview th {
                background-color: #f0f0f0;
                height: 20px;
            }

            .perview a:link, .perview a:visited, .perview a:hover, .perview a:active {
                color: #00F;
            }

            .perview table {
                width: 100%;
                border-collapse: collapse;
            }
    </style>
    @section Jsprepare{
        <script type="text/javascript">
     @Html.Raw(ViewBag.RuteUrl)

            jQuery(document).ready(function () {
                var um = UM.getEditor('Details');
                DataGridSet();
                BindDictionary("Category", "02");
                BindDictionary("CategoryS", "02");

            });
            function DataGridSet() {
            @Html.Raw(ViewBag.toolbar)

                $('#dg').datagrid({
                    url: BaseUrl + 'Search',
                    columns: [[
                        { field: 'ck', checkbox: true },
                    { field: 'Title', title: '标题', width: 100 },
                    { field: 'Category', title: '类别', width: 100 },
                       {
                           field: 'States', title: '状态', width: 120, align: 'right',
                           formatter: function (value) {
                               if (value == 1) {
                                   var s = "启用";
                                   return s;
                               } else if (value == "2") {
                                   var s = "禁用";
                                   return s;
                               }
                           }
                       },
                     { field: 'Website', title: '连接', width: 100 }
                    ]],
                    iconCls: 'icon-save',
                    title: '广告',
                    nowrap: true,
                    striped: true,
                    collapsible: true,
                    pagination: true,
                    width: 'auto',
                    height: 700,

                    rownumbers: true,
                    toolbar: toolbars
                });
            }

            //实现资迅的编辑，包括增查改
            function SaveInfo() {

                //判断资迅的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                $("input[name='Category']").val($('#Category').combotree('getValue'));

                if ($("input[name='Category']").val() == "") {
                    alerts("请选择分类", 5)
                    return false;
                }

                var data = DataBaseFunction.GetFormData("ff")

                var Details = UM.getEditor('Details').getContent();
                Details = htmlEncode(Details);
                data[9].value = Details;
                $.post(BaseUrl + 'EditInfo', data, function (data) {
                    if (data = "OK") {
                        alert("编辑成功");
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        // $("#DivEditor").dialog("close");
                        $("#dg").datagrid("reload");
                    }
                    else {
                        alert("编辑失败，请您检查");
                    }
                });

            }

            function htmlEncode(str) {
                var _str = '';
                if (str.length == 0) return '';
                _str = str.replace(new RegExp('<', 'gm'), '&lt');
                _str = _str.replace(new RegExp('>', 'gm'), '&gt');

                return _str;
            }
            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                $('#DivEditor').dialog({
                    title: '添加资迅信息',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true,
                    top: 100,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面
                    }
                });
                DataBaseFunction.ClearForm("ff");
                $("#imgLogo").attr('src', "");
                UM.getEditor('Details').setContent("", false);
            }

            //easyUI 弹出修改的对话框
            function EditInfo() {
                var rows = $("#dg").datagrid("getSelections");
                //首先取出来值判断只能选择一个
                if (rows.length != 1) {
                    $.messager.alert("友情提示", "每次只能修改/浏览一条，你已经选择了<font color='red'  size='6'>" + rows.length + "</font>条", "error");
                    return;
                }
                //处理修改的信息，弹出修改的对话框,然后显示选择的资迅的详细信息
                $("#DivEditor").dialog('open').dialog('setTitle', '修改信息').window('resize', { top: 100 });

                var ID = $("#dg").datagrid("getSelections")[0].Id;  //获取到了用资迅选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('BindShowUpdateInfo error'); },
                    success: function (result) {
                        DataBaseFunction.BindForm("ff", result);
                        $("#imgLogo").attr('src', result.ImgeUrl);
                        UM.getEditor('Details').setContent(result["Details"], false);

                        $('#Category').combotree('setValue', result['Category']);
                    }

                });
            }
            //搜索
            function Search() {
                $("input[name='Category_like1']").val($('#CategoryS').combotree('getValue'));
                DataBaseFunction.Search("fSearh", "dg");
            }
            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "Id", "Title");
            }
            function FileHeadSave() {
                //----上传头像
                var FileId = "";

                $("input[name='Details']").val("");//html带有非法字符

                $("#ff").form('submit', {
                    url: "/httpHandle/UploadHandler.ashx?action=addImg&SourceTable=Advertising",
                    onSubmit: function () {

                    },
                    success: function (data) {
                        var d = eval('(' + data + ')');
                        if (d.Success) {
                            var imgList = eval('(' + d.Data + ')');
                            $("#imgLogo").attr('src', imgList[0].FullRoute);
                            $("input[name='ImgeUrl']").val(imgList[0].FullRoute)
                        }
                        else {
                            alerts(d.Message, 5);
                        }

                    }
                })
            }
        </script>
    }
</head>
<body>

    <div id="DivSearh" class="easyui-panel"
        style="width: 1200px; height: 45px; padding: 10px; background: #fafafa;"
        data-options="iconCls:'icon-save',closable:true,    
                collapsible:true,minimizable:true,maximizable:true">
        <form id="fSearh">

            <span>类别：  
                <ul id="CategoryS"></ul>
                <input name="Category_like1" type="hidden" /></span>
            <span>标题：<input name="Title_like" type="text" /></span>
            <span>来源：<input name="Source_like" type="text" /></span>
            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSearh" iconcls="icon-search" onclick="Search();">搜索</a> </span>
        </form>
    </div>

    <table id="dg"></table>
    <div id="DivEditor" class="easyui-dialog" style="width: 780px; height: 600px; padding: 10px 20px"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">

        <form id="ff" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>资迅信息填写栏</legend>
                <table id="tblAdd">
                    <input type="hidden" name="Id" />
                    <input type="hidden" name="UserId" />
                    <input type="hidden" name="AddTime" />
                    <input type="hidden" name="UpdateTime" />
                    <input type="hidden" name="Category" />
                    <input type="hidden" name="ImgeUrl" />
                    <tr>
                        <td>
                            <label>图片logo：</label></td>
                        <td>
                            <input type="file" name="file1" onchange="FileHeadSave()" /></td>
                        <td rowspan="3">

                            <img alt="" id="imgLogo" src="" style="width: 100px; height: 100px; margin-top: 10px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>标题：</label></td>
                        <td>
                            <input type="text" name="Title" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>类别：</label></td>
                        <td>
                            <ul id="Category"></ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>连接地址：</label></td>
                        <td>
                            <input type="text" name="Website" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>状态：</label></td>
                        <td>

                            <select name="States">
                                <option value='1' selected="selected">启用</option>
                                <option value='2'>禁用</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>详情：</label></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <!--style给定宽度可以影响编辑器的最终宽度-->
                            <script type="text/plain" id="Details" name="Details" style="width: 500px; height: 230px;">
                            </script>

                        </td>
                    </tr>
                    <tr>

                        <td colspan="4" style="text-align: center; padding-top: 10px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddRole" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
            </fieldset>

        </form>
    </div>



    <div id="DviIcon" class="easyui-window" style="width: 680px; height: 400px; padding: 10px 20px" title="选择图标"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
    </div>
</body>
</html>
