<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>二手车</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/appweb/meizi/css/amazeui.min.css">
    <script src="/appweb/meizi/js/jquery.min.js"></script>
    <script src="/appweb/meizi/js/amazeui.min.js"></script>
    <script src="/appweb/meizi/js/plug.js"></script>
    <script type="text/javascript">





        //页面加载后执行
        jQuery(document).ready(function () {


        });
    </script>
</head>
<body>
    <div id="context_box">
        <!-- 头部 -->
        <header data-am-widget="header" class="am-header am-header-default">
            <div class="am-header-left am-header-nav">
                <a href="#" class="">
                    <i class="am-header-icon am-icon-home am-icon-sm"></i>
                </a>
            </div>
            <h1 class="am-header-title" id="header_title">
                <a href="#" class="">车辆信息</a>
            </h1>
            <div class="am-header-right am-header-nav">
                <a href="#" class="" data-am-offcanvas="{target: '#div_right', effect: 'push'}">
                    <i class="am-header-icon am-icon-qrcode am-icon-sm"></i>
                </a>
            </div>
        </header>



    </div>

    <!-- 单条数据展示 -->
    <div id="details" >
        <form id="ff">
          <!--  <img src="" id="ImageUrl" class="am-img-responsive" style="width: 100%;" alt="" />-->
            <img src="http://l.b2b168.com/2013/09/30/15/201309301529027879154.jpg" class="am-img-responsive" alt=""/>
            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />

            <div class="am-container">
                <p class="am-text-primary">车主：<span name="Address" class="am-text-warning">老李</span></p>
                <p class="am-text-primary">公司：<span name="Address" class="am-text-warning">南宁旅游</span></p>
                <p class="am-text-primary">车牌：<span name="Address" class="am-text-warning">桂A 23223</span></p>
                <p class="am-text-primary">颜色：<span name="Address" class="am-text-warning">蓝色</span></p>
                 <p class="am-text-primary">线路：<span name="Address" class="am-text-warning">南宁-百色</span></p>
                 <p class="am-text-primary">电话：<span name="Address" class="am-text-warning">1323545454</span></p>
            </div>
        </form>
    </div>
    <!--[if (gte IE 9)|!(IE)]><!-->
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
<![endif]-->
</body>
</html>
