<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    @* ReSharper disable once NotAllPathsReturnValue *@

    @section Jsprepare{
        <script type="text/javascript">
            var BaseUrl = '/Role/';
            var MenuButtonsData;
            var RoleId;
            jQuery(document).ready(function () {//获取每个菜单有的按钮
                AutoWH("#body", 40, 42);//自适应宽度
                FormStripes();//表单样式
                $('#RoleTypes').combobox('reload', '/httpHandle/DictionaryHandler.ashx?action=GetSysItem&ItemType=RoleTypes');  // 使用新的URL重新载入列表数据
                $.ajax({
                    url: BaseUrl + 'GetMenuButtonsData',
                    type: 'POST',
                    cache: false,
                    error: function () { alert('Error loading PHP document'); },
                    success: function (result) {
                        MenuButtonsData = result;
                    }
                });


                $('#dg').datagrid({
                    url: BaseUrl + 'GetList',
                    columns: [[
                        { field: 'ck', checkbox: true },
                        { field: 'RoleName', title: '角色名称', width: 100 },
                          { field: 'RoleTypesName', title: '类型', width: 100 },
                        { field: 'Remarks', title: '描述', width: 300, align: 'right' }
                    ]],
                    iconCls: 'icon-save',
                    title: '角色设置',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    width: 'auto',
                    rownumbers: true,
                    toolbar: [{
                        id: 'btnadd',
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: function () {
                            //实现弹出注册信息的页面
                            AddInfo();
                        }
                    }, '-', {
                        id: 'btncut',
                        text: '修改',
                        iconCls: 'icon-cut',
                        handler: function () {
                            //实现修改的方法
                            EditInfo();
                        }
                    }, '-', {
                        id: 'btnCancle',
                        text: '直接删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            //实现直接删除所有数据的方法
                            deleteInfo();
                        }
                    }, '-', {
                        id: 'btnBrowse',
                        text: '浏览',
                        iconCls: 'icon-tip',
                        handler: function () {
                            //实现浏览的方法
                            UpdateInfo("browse");
                        }
                    }, '-', {
                        id: 'btnSetRole',
                        text: '分配权限',
                        iconCls: 'icon-shield_rainbow',
                        handler: function () {
                            var row = $("#dg").datagrid("getSelections")[0];  //获取到了用用户选择的ID
                            if (row != null) {
                                RoleId = row.Id;

                                ShowSetRoleDiv(row);
                            }
                        }
                    }]
                });
            });



            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor').dialog({
                    title: '添加信息',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 50, left: 50,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $(".validatebox-tip").remove();//清除验证样式
                DataBaseFunction.ClearForm("ff");
            }


            //绑定修改显示详细信息的方法
            function EditInfo() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivEditor").dialog('open').dialog('setTitle', '修改-' + rows.TName).window('resize', { top: 50, left: 50 });

                $(".validatebox-tip").remove();//清除验证样式
                var ID = rows.Id;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                     //   var result = eval('(' + data + ')');
                        DataBaseFunction.BindForm("ff", data);
                        $('#RoleTypes').combobox('select', data.RoleTypes);
                    }
                });

            }

            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'EditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");
                    }
                });

            }

            //实现直接删除数据和伪删除数据的方法
            function deleteInfo(not) {
                //得到用户选择的数据的ID
                var rows = $("#dg").datagrid("getSelections");
                //首先判断用户是否已经选择了需要删除的数据,然后循环将用户选择的数据传递到后台
                if (rows.length >= 1) {
                    //遍历出用户选择的数据的信息，这就是用户用户选择删除的用户ID的信息
                    var ids = "";   //1,2,3,4,5
                    for (var i = 0; i < rows.length; i++) {
                        //异步将删除的ID发送到后台，后台删除之后，返回前台，前台刷洗表格
                        ids += rows[i].Id + ",";
                    }
                    //最后去掉最后的那一个,
                    ids = ids.substring(0, ids.length - 1);
                    //获取用户选择的用户信息，如果用户选择了已经登录的用户的话需要给出不能删除的信息
                    var roleNames = "";
                    for (var i = 0; i < rows.length; i++) {
                        roleNames += rows[i].RoleName + ",";
                    }
                    roleNames = roleNames.substring(0, roleNames.length - 1);
                    //首先取出来到底是直接删除还是伪删除发送异步请求的地址和是否是伪删除的参数
                    var postData = "";

                    postData = {
                        ID: ids
                    };
                    //}
                    //else {
                    //    postData = {
                    //        ID: ids, Not: not
                    //    }
                    //}
                    //然后确认发送异步请求的信息到后台删除数据
                    $.messager.confirm("删除信息", "您确认删除<font color='red' size='3'>" + roleNames + "</font>角色吗？", function (DeleteRole) {
                        if (DeleteRole) {
                            $.get(BaseUrl + "DeleteInfo", postData, function (data) {
                                if (data == "OK") {
                                    //友情提示用户删除成功，刷新表格
                                    $.messager.alert("友情提示", "删除/还原成功");
                                    $("#dg").datagrid("reload");
                                    //当删除完成之后，第二次删除的时候还记得上次的信息，这样是不可以的，所以我们需要清除第一次的信息
                                    //第一种方法
                                    rows.length = "";
                                    //第二种方法
                                    $("#dg").datagrid("clearSelections");
                                }
                                else {
                                    $.messager.alert("友情提示", data);
                                }
                            });
                        }
                    });
                }
                else {
                    alert("请选择你要删除的数据");
                }
            }

            //显示权限
            function ShowSetRoleDiv(data) {
                $('#DivSetRole').window({
                    title: '角色:' + data.RoleName + ' --  权限分配',
                    modal: true,
                    top: 50
                });
                $('#DivSetRole').window('open');

                var Column = $.ajax({//获取列数据
                    url: BaseUrl + 'GetBtnColumn',
                    data: {},
                    async: false
                }).responseText;
                var Columndata = eval(Column);

                $('#tbRole').treegrid({

                    width: 'auto',
                    height: 500,
                    rownumbers: true,
                    animate: true,
                    collapsible: true,
                    fit: true,
                    fitColumns: true,
                    url: BaseUrl + 'GetManeOP',
                    queryParams: { Id: data.Id, T: Math.floor(Math.random() * 1000000) },
                    method: 'get',
                    idField: 'MenuId',
                    treeField: 'Name',
                    showFooter: true,
                    columns: [Columndata],//
                    toolbar: [{
                        id: 'btnadd',
                        text: '全选',
                        iconCls: 'icon-add',
                        handler: function () {
                            TreeEditorSet.IsSelect(true);
                            TreeEditorSet.CancleEdit();
                        }
                    }, '-', {
                        id: 'btncut',
                        text: '取消全选',
                        iconCls: 'icon-delete',
                        handler: function () {
                            TreeEditorSet.IsSelect(false);
                        }
                    }, '-', {
                        id: 'btnIsNotCancle',
                        text: '编辑',
                        iconCls: 'icon-television_add',
                        handler: function () {

                            TreeEditorSet.StartEdit();

                        }
                    },
                    '-', {
                        id: 'btnIsNotCancle',
                        text: '取消编辑',
                        iconCls: 'icon-television_delete',
                        handler: function () {

                            TreeEditorSet.CancleEdit();
                        }
                    }, '-', {
                        id: 'btnCancle',
                        text: '保存应用',
                        iconCls: 'icon-ok',
                        handler: function () {
                            TreeEditorSet.CancleEdit();
                            TreeEditorSet.SaveSelect(RoleId);

                            // $('#DivSetRole').window('close');
                        }
                    }],
                    onDblClickCell: function () {
                        var row = $('#tbRole').treegrid('getSelected');
                        if (row) {
                            $('#tbRole').treegrid('beginEdit', row.MenuId);
                            var editors = $('#tbRole').treegrid('getEditors', row.MenuId);
                            for (var k = 0; k < editors.length; k++) {
                                row[editors[k].field] = 1;
                                DelEditor(editors[k], row)
                            }
                        }
                    }

                });
            }

            var TreeEditorSet = {
                IsSelect: function (IsSelectAll) {

                    var row = $('#tbRole').treegrid('getData');

                    $.each(row, function (i, n) {
                        if (n != null) {

                            var editors = $('#tbRole').treegrid('getEditors', n.MenuId);
                            for (var i = 0; i < editors.length; i++) {
                                IsCheckEditor(editors[i], n, IsSelectAll)

                            }
                            var row2 = $('#tbRole').treegrid('getChildren', n.MenuId);
                            for (var i = 0; i < row2.length; i++) {

                                var editors2 = $('#tbRole').treegrid('getEditors', row2[i].MenuId);
                                for (var k = 0; k < editors2.length; k++) {

                                    IsCheckEditor(editors2[k], row2[i], IsSelectAll)
                                }
                            }
                        }
                    });

                },
                CancleEdit: function () {
                    var row = $('#tbRole').treegrid('getData');
                    if (row != null) {
                        $.each(row, function (i, n) {
                            if (n != null) {
                                $('#tbRole').treegrid('endEdit', n.MenuId);
                                var row2 = $('#tbRole').treegrid('getChildren', n.MenuId);
                                for (var i = 0; i < row2.length; i++) {
                                    $('#tbRole').treegrid('endEdit', row2[i].MenuId);
                                }
                            }
                        });

                    }
                },
                StartEdit: function () {
                    var row = $('#tbRole').treegrid('getData');
                    if (row != null) {
                        $.each(row, function (i, n) {
                            if (n != null) {
                                $('#tbRole').treegrid('beginEdit', n.MenuId);
                                var editors = $('#tbRole').treegrid('getEditors', n.MenuId);
                                for (var i = 0; i < editors.length; i++) {
                                    DelEditor(editors[i], n)
                                }
                                var row2 = $('#tbRole').treegrid('getChildren', n.MenuId);
                                for (var i = 0; i < row2.length; i++) {
                                    $('#tbRole').treegrid('beginEdit', row2[i].MenuId);
                                    var editors2 = $('#tbRole').treegrid('getEditors', row2[i].MenuId);
                                    for (var k = 0; k < editors2.length; k++) {

                                        DelEditor(editors2[k], row2[i])
                                    }
                                }
                            }
                        });
                    }
                },
                SaveSelect: function (roleid) {

                    var row = $('#tbRole').treegrid('getData');
                    var RoleManus = "";
                    var RoleManuButtons = "";

                    $.each(row, function (i, n) {
                        if (n != null) {
                            for (items in n) {
                                if (n[items] == "1") {
                                    if (items == "ControlId_Browse") {
                                        RoleManus += n.MenuId + "_";
                                    } else {
                                        var indx = items.indexOf('_');
                                        var buttonId = items.substring(indx + 1, items.length);
                                        RoleManuButtons += n.MenuId + ":" + buttonId + "_"
                                    }
                                }
                            }
                            var row2 = $('#tbRole').treegrid('getChildren', n.MenuId);
                            $.each(row2, function (j, d) {
                                if (d != null) {
                                    for (items in n) {
                                        if (d[items] == "1") {
                                            if (items == "ControlId_Browse") {
                                                RoleManus += d.MenuId + "_";
                                            } else {
                                                var indx = items.indexOf('_');
                                                var buttonId = items.substring(indx + 1, items.length);
                                                RoleManuButtons += d.MenuId + ":" + buttonId + "_"
                                            }
                                        }
                                    }
                                }

                            })

                        }
                    });

                    RoleManus = RoleManus.substring(0, RoleManus.length - 1);
                    RoleManuButtons = RoleManuButtons.substring(0, RoleManuButtons.length - 1);
                    $.ajax({
                        url: BaseUrl + 'SaveRoleOP',
                        type: 'POST',
                        cache: false,
                        data: { RoleManus: RoleManus, RoleManuButtons: RoleManuButtons, RoleId: roleid },
                        error: function () { alert('SaveRoleOP'); },
                        success: function (result) {
                            if (result == "ok") {
                                alert("设置成功")
                            }
                        }
                    });
                }

            }
            function DelEditor(dd, n) {

                if (dd.field != "ControlId_Browse") {
                    var NoHave = true;

                    var indx = dd.field.indexOf('_');
                    var buttonId = dd.field.substring(indx + 1, dd.field.length);

                    $.each(MenuButtonsData, function (j, d) {
                        if (d != null) {
                            if (d.ManuId == n.MenuId && d.ButtonId == buttonId) {
                                NoHave = false;
                            }
                        }
                    });
                    if (NoHave) {
                        $(dd.target).remove();
                    }
                }


            }
            function IsCheckEditor(dd, n, IsSelectAll) {


                var NoHave = true;

                var indx = dd.field.indexOf('_');
                var buttonId = dd.field.substring(indx + 1, dd.field.length);

                $.each(MenuButtonsData, function (j, d) {
                    if (d != null) {
                        if (d.ManuId == n.MenuId && d.ButtonId == buttonId) {
                            NoHave = false;
                        }
                    }
                });
                if (!NoHave || dd.field == "ControlId_Browse") {
                    $(dd.target).attr('checked', IsSelectAll);
                }
            }


            function formatCheck(value) {

                if (value == "1") {

                    var s = '<span class="icon icon-ok">&nbsp;</span>';
                    return s;
                } else if (value == "0") {
                    var s = '×';
                    return s;
                }

            }
        </script>
    }
</head>
<body>
    @* <div style="padding: 5px; border: 1px solid #ddd">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="adddiv();">Add</a>
       <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="$('#del').window('open');">delte</a>
    </div>*@
    <div id="body">
        <table id="dg"></table>
    </div>
    <!------------------------弹出修改角色信息的弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 600px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 20px; overflow-x: hidden;" data-options=" border:false">
            <form id="ff" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Id" />
                <input type="hidden" name="CreateBy" />
                <input type="hidden" name="CreateTime" />
                <input type="hidden" name="ModifyBy" />
                <input type="hidden" name="ModifyTime" />
                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">

                    <tr>
                        <td>
                            <label>名称：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="RoleName" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>备注：</label></td>
                        <td>
                            <textarea class="areabox" name="Remarks"></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <label>角色类型：</label></td>
                        <td>
                            <input id="RoleTypes" class="easyui-combobox" name="RoleTypes"
                                data-options="valueField:'ItemValue',textField:'ItemName',required:true" /></td>
                    </tr>
                </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>



    <div id="DivSetRole" class="easyui-window" style="width: 1000px; height: 700px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">

        <table id="tbRole"></table>


    </div>


</body>



</html>
