<!DOCTYPE html>
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- 编辑器Star-->

    <link href="~/Content/umditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="~/Content/umditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/umditor/umeditor.min.js"></script>
    <script type="text/javascript" src="~/Content/umditor/lang/zh-cn/zh-cn.js"></script>


    <script type="text/javascript" charset="utf-8" src="~/Content/js/ImgUp.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)


            jQuery(document).ready(function () {
                AutoWH("#body", 40, 42);//自适应宽度
                var um = UM.getEditor('Details');
                DataGridSet();
                FormStripes();//表单样式

            })
            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'Search',
                    columns: [[
                        { field: 'ck', checkbox: true },
                        { field: 'UserName', title: '用户名', width: 100 },
                        { field: 'TrueName', title: '姓名', width: 100 },
                        { field: 'Address', title: '地址', width: 300, align: 'right' }
                    ]],
                    iconCls: 'icon-save',
                    title: '用户管理',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'AddTime,TrueName',
                    sortOrder: 'desc',
                    toolbar: toolbars
                });
            }
            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor').dialog({
                    title: '添加信息',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 50, left: 50,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $(".validatebox-tip").remove();//清除验证样式
                DataBaseFunction.ClearForm("ff");
                $("#imgLogo").attr('src', "");
                UM.getEditor('Details').setContent("", false);
            }


            //绑定修改显示详细信息的方法
            function EditInfo() {
                //处理修改的信息，弹出修改的对话框,然后显示选择的的详细信息
                $("#DivEditor").dialog('open').dialog('setTitle', '修改信息').window('resize', { top: 50, left: 50 });
                //首先发送一个异步请求去后台实现方法


                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $(".validatebox-tip").remove();//清除验证样式
                var ID = rows.Id;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (result) {
                        DataBaseFunction.BindForm("ff", result);
                        UM.getEditor('Details').setContent(result["Details"], false);
                        $("#imgLogo").attr('src', result.ImgeUrl);
                    }
                });

            }

            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                var Details = UM.getEditor('Details').getContent();
                Details = htmlEncode(Details);
                data[14].value = Details;
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'EditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");

                    }
                });

            }

            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "Id", "UserName");
            }
            function FileHeadSave() {
                //----上传头像
                var FileId = "";
                $("input[name='Details']").val("");//html带有非法字符
                $("#ff").form('submit', {
                    url: "/httpHandle/UploadHandler.ashx?action=addImg&SourceTable=TS_ClientUser",
                    onSubmit: function () {

                    },
                    success: function (data) {
                        var d = eval('(' + data + ')');
                        if (d.Success) {
                            var imgList = eval('(' + d.Data + ')');
                            $("#imgLogo").attr('src', imgList[0].FullRoute);
                            $("input[name='ImgeUrl']").val(imgList[0].FullRoute)
                        }
                        else {
                            alerts(d.Message, 5);
                        }

                    }
                })
            }
        </script>
    }

</head>
<body style="overflow-y: hidden">
    <div id="body">
        <table id="dg"></table>

    </div>

    <!------------------------弹出修改角色信息的弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 1000px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 20px" data-options=" height:600,width:980,border:false">
            <form id="ff"  method="post" enctype="multipart/form-data">
                <input type="hidden" name="Id" />
                <input type="hidden" name="ImgeUrl" />
                <input type="hidden" name="Category" />
                <input type="hidden" name="Longitude" />
                <input type="hidden" name="Latitude" />
                <input type="hidden" name="LocationUpdateTime" />
                <input type="hidden" name="AddTime" />
                <input type="hidden" name="UpdateTime" />
                    <table class="stripes" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label>图片logo：</label></td>
                            <td>
                                <input type="file" name="file1" onchange="FileHeadSave()" /></td>
                            <td rowspan="3">

                                <img alt="" id="imgLogo" src="" style="width: 100px; height: 100px; margin-top: 10px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>姓名：</label></td>
                            <td>
                                <input class="easyui-validatebox textbox" style="width:200px;height:24px" type="text" data-options="required:true" name="TrueName" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>用户名：</label></td>
                            <td>
                                <input class="easyui-validatebox textbox" style="width:200px;height:24px" type="text" name="UserName" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>密码：</label></td>
                            <td>
                                <input class="easyui-validatebox textbox" style="width:200px;height:24px" type="text" name="Pwd" /></td><td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>电话：</label></td>
                            <td>
                                <input class="easyui-validatebox textbox" style="width:200px;height:24px" type="text" name="Phone" /></td><td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>地址：</label></td>
                            <td>
                                <textarea class="areabox" style="height: 50px; width: 406px;" name="Address"></textarea></td><td></td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <label>详情：</label></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <!--style给定宽度可以影响编辑器的最终宽度-->
                                <script type="text/plain" id="Details" name="Details" style="width: 900px; height: 200px;">
  
                                </script>

                            </td>
                        </tr>
                    </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>
</body>
</html>
