<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    @* ReSharper disable once NotAllPathsReturnValue *@

    @section Jsprepare{
        <script type="text/javascript">
            var BaseUrl = '/Role/';
            var MenuButtonsData;
            var RoleId;
            jQuery(document).ready(function () {//获取每个菜单有的按钮
                AutoWH("#body", 40, 42);//自适应宽度
                $.ajax({
                    url: BaseUrl + 'GetMenuButtonsData',
                    type: 'POST',
                    cache: false,
                    error: function () { alert('Error loading PHP document'); },
                    success: function (result) {
                        MenuButtonsData = result;
                    }
                });


                $('#dg').datagrid({
                    url: BaseUrl + 'GetList',
                    columns: [[
                        { field: 'ck', checkbox: true },
                        { field: 'RoleName', title: '角色名称', width: 100 },
                        { field: 'Remarks', title: '描述', width: 300, align: 'right' }
                    ]],
                    iconCls: 'icon-save',
                    title: '角色设置',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    width: 'auto',
                    rownumbers: true,
                    toolbar: [{
                        id: 'btnadd',
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: function () {
                            //实现弹出注册信息的页面
                            ShowAddDialog();
                        }
                    }, '-', {
                        id: 'btncut',
                        text: '修改',
                        iconCls: 'icon-cut',
                        handler: function () {
                            //实现修改的方法
                            UpdateInfo();
                        }
                    }, '-', {
                        id: 'btnCancle',
                        text: '直接删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            //实现直接删除所有数据的方法
                            deleteInfo();
                        }
                    }, '-', {
                        id: 'btnBrowse',
                        text: '浏览',
                        iconCls: 'icon-tip',
                        handler: function () {
                            //实现浏览的方法
                            UpdateInfo("browse");
                        }
                    }, '-', {
                        id: 'btnSetRole',
                        text: '分配权限',
                        iconCls: 'icon-shield_rainbow',
                        handler: function () {
                            var row = $("#dg").datagrid("getSelections")[0];  //获取到了用用户选择的ID
                            if (row != null) {
                                RoleId = row.Id;

                                ShowSetRoleDiv(row);
                            }
                        }
                    }]
                });
            });
            //easyUI 弹出添加用户的对话框
            function ShowAddDialog() {
                //弹出层
                // $("#DivAdd").dialog('open').dialog('setTitle', '添加用户信息');
                $('#DivAdd').dialog({
                    title: '添加用户信息',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 100,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                //$('#DivAdd').dialog({
                //    onClose: function () {
                //        //解决弹出窗口关闭后，验证消息还显示在最上面
                //        $('.validatebox-tip').remove();
                //    }
                //});
                //在弹出层的时候删除掉文本框中的信息
                //ClearTxtInfo();
            }
            //实现角色的添加
            function AddInfoBind() {

                //判断用户的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var postData = $("#ff").serializeArray();

                //发送异步请求到后台保存用户数据
                $.post(BaseUrl + 'AddInfo', postData, function (data) {
                    if (data = "OK") {
                        //添加成功  1.关闭弹出层，2.刷新DataGird
                        alert("添加角色成功");
                        $('#DivAdd').dialog('close');
                        $(".validatebox-tip").remove();
                        // $("#DivAdd").dialog("close");
                        $("#dg").datagrid("reload");
                        $("#ff").form("clear");
                    }
                    else {
                        alert("添加角色失败，请您检查");
                    }
                });
            }

            //修改用户的信息
            function UpdateInfo(browse) {
                //首先取出来用户选择的数据的ID
                var rows = $("#dg").datagrid("getSelections");
                //首先取出来值判断用户只能选择一个
                if (rows.length != 1) {
                    $.messager.alert("友情提示", "每次只能修改/浏览一条，你已经选择了<font color='red'  size='6'>" + rows.length + "</font>条", "error");
                    return;
                }
                if (browse == null) {
                    //处理修改的信息，弹出修改的对话框,然后显示选择的用户的详细信息
                    $("#DivUpdate").dialog('open').dialog('setTitle', '修改角色信息').window('resize', { top: 100 });
                    //绑定修改显示详细信息的方法
                    BindShowUpdateInfo();
                }
                else {
                    //处理浏览的信息，弹出浏览狂，然后显示浏览信息的相信信息
                    $("#DivBrowerRole").dialog('open').dialog('setTitle', '角色浏览').window('resize', { top: 100 });
                    //绑定用户的浏览信息
                    BindBrowerRoleInfo();
                }
            }

            //绑定修改显示详细信息的方法
            function BindShowUpdateInfo() {
                //首先用户发送一个异步请求去后台实现方法
                var ID = $("#dg").datagrid("getSelections")[0].Id;  //获取到了用用户选择的ID
                $.post(BaseUrl + 'GetInfo', { ID: ID }, function (roleInfo) {
                    $("#Id").val(roleInfo.Id);
                    $("#RoleName1").val(roleInfo.RoleName);
                    $("#RoleOrder1").val(roleInfo.RoleOrder);

                    $("#Remarks1").val(roleInfo.Remarks);
                });
            }

            //绑定浏览详细信息的方法
            function BindBrowerRoleInfo() {

            }
            //实现直接删除数据和伪删除数据的方法
            function deleteInfo(not) {
                //得到用户选择的数据的ID
                var rows = $("#dg").datagrid("getSelections");
                //首先判断用户是否已经选择了需要删除的数据,然后循环将用户选择的数据传递到后台
                if (rows.length >= 1) {
                    //遍历出用户选择的数据的信息，这就是用户用户选择删除的用户ID的信息
                    var ids = "";   //1,2,3,4,5
                    for (var i = 0; i < rows.length; i++) {
                        //异步将删除的ID发送到后台，后台删除之后，返回前台，前台刷洗表格
                        ids += rows[i].Id + ",";
                    }
                    //最后去掉最后的那一个,
                    ids = ids.substring(0, ids.length - 1);
                    //获取用户选择的用户信息，如果用户选择了已经登录的用户的话需要给出不能删除的信息
                    var roleNames = "";
                    for (var i = 0; i < rows.length; i++) {
                        roleNames += rows[i].RoleName + ",";
                    }
                    roleNames = roleNames.substring(0, roleNames.length - 1);
                    //首先取出来到底是直接删除还是伪删除发送异步请求的地址和是否是伪删除的参数
                    var postData = "";

                    postData = {
                        ID: ids
                    };
                    //}
                    //else {
                    //    postData = {
                    //        ID: ids, Not: not
                    //    }
                    //}
                    //然后确认发送异步请求的信息到后台删除数据
                    $.messager.confirm("删除信息", "您确认删除<font color='red' size='3'>" + roleNames + "</font>角色吗？", function (DeleteRole) {
                        if (DeleteRole) {
                            $.get(BaseUrl + "DeleteInfo", postData, function (data) {
                                if (data == "OK") {
                                    //友情提示用户删除成功，刷新表格
                                    $.messager.alert("友情提示", "删除/还原成功");
                                    $("#dg").datagrid("reload");
                                    //当删除完成之后，第二次删除的时候还记得上次的信息，这样是不可以的，所以我们需要清除第一次的信息
                                    //第一种方法
                                    rows.length = "";
                                    //第二种方法
                                    $("#dg").datagrid("clearSelections");
                                }
                                else {
                                    $.messager.alert("友情提示", data);
                                }
                            });
                        }
                    });
                }
                else {
                    alert("请选择你要删除的数据");
                }
            }

            //修改用户的相信信息
            function BindUpdateInfo() {

                //首先也是对用户进行检测
                var validate = $("#ffUpdate").form("validate");
                if (validate == false) {
                    return false;
                }
                //构造参数发送给后台
                var posData = $("#ffUpdate").serializeArray();
                $.get(BaseUrl + "UpdateInfo", posData, function (date) {
                    if (date == "ok") {
                        //修改成功，关闭弹出层，刷新DataGird
                        alert("修改成功");
                        $("#DivUpdate").dialog('close');
                        $("#dg").datagrid("reload");
                    } else {
                        $.messager.alert("友情提示", "修改失败，请您检查");
                    }
                });

            }
            //显示权限
            function ShowSetRoleDiv(data) {
                $('#DivSetRole').window({
                    title: '角色:' + data.RoleName + ' --  权限分配',
                    modal: true,
                    top: 50
                });
                $('#DivSetRole').window('open');

                var Column = $.ajax({//获取列数据
                    url: BaseUrl + 'GetBtnColumn',
                    data: {},
                    async: false
                }).responseText;
                var Columndata = eval(Column);

                $('#tbRole').treegrid({

                    width: 'auto',
                    height: 500,
                    rownumbers: true,
                    animate: true,
                    collapsible: true,
                    fit: true,
                    fitColumns: true,
                    url: BaseUrl + 'GetManeOP',
                    queryParams: { Id: data.Id, T: Math.floor(Math.random() * 1000000) },
                    method: 'get',
                    idField: 'MenuId',
                    treeField: 'Name',
                    showFooter: true,
                    columns: [Columndata],//
                    toolbar: [{
                        id: 'btnadd',
                        text: '全选',
                        iconCls: 'icon-add',
                        handler: function () {
                            TreeEditorSet.IsSelect(true);
                            TreeEditorSet.CancleEdit();
                        }
                    }, '-', {
                        id: 'btncut',
                        text: '取消全选',
                        iconCls: 'icon-delete',
                        handler: function () {
                            TreeEditorSet.IsSelect(false);
                        }
                    }, '-', {
                        id: 'btnIsNotCancle',
                        text: '编辑',
                        iconCls: 'icon-television_add',
                        handler: function () {

                            TreeEditorSet.StartEdit();

                        }
                    },
                    '-', {
                        id: 'btnIsNotCancle',
                        text: '取消编辑',
                        iconCls: 'icon-television_delete',
                        handler: function () {

                            TreeEditorSet.CancleEdit();
                        }
                    }, '-', {
                        id: 'btnCancle',
                        text: '保存应用',
                        iconCls: 'icon-ok',
                        handler: function () {
                            TreeEditorSet.CancleEdit();
                            TreeEditorSet.SaveSelect(RoleId);

                            // $('#DivSetRole').window('close');
                        }
                    }],
                    onDblClickCell: function () {
                        var row = $('#tbRole').treegrid('getSelected');
                        if (row) {
                            $('#tbRole').treegrid('beginEdit', row.MenuId);
                            var editors = $('#tbRole').treegrid('getEditors', row.MenuId);
                            for (var k = 0; k < editors.length; k++) {
                                row[editors[k].field] = 1;
                                DelEditor(editors[k], row)
                            }
                        }
                    }

                });
            }

            var TreeEditorSet = {
                IsSelect: function (IsSelectAll) {

                    var row = $('#tbRole').treegrid('getData');

                    $.each(row, function (i, n) {
                        if (n != null) {

                            var editors = $('#tbRole').treegrid('getEditors', n.MenuId);
                            for (var i = 0; i < editors.length; i++) {
                                IsCheckEditor(editors[i], n, IsSelectAll)

                            }
                            var row2 = $('#tbRole').treegrid('getChildren', n.MenuId);
                            for (var i = 0; i < row2.length; i++) {

                                var editors2 = $('#tbRole').treegrid('getEditors', row2[i].MenuId);
                                for (var k = 0; k < editors2.length; k++) {

                                    IsCheckEditor(editors2[k], row2[i], IsSelectAll)
                                }
                            }
                        }
                    });

                },
                CancleEdit: function () {
                    var row = $('#tbRole').treegrid('getData');
                    if (row != null) {
                        $.each(row, function (i, n) {
                            if (n != null) {
                                $('#tbRole').treegrid('endEdit', n.MenuId);
                                var row2 = $('#tbRole').treegrid('getChildren', n.MenuId);
                                for (var i = 0; i < row2.length; i++) {
                                    $('#tbRole').treegrid('endEdit', row2[i].MenuId);
                                }
                            }
                        });

                    }
                },
                StartEdit: function () {
                    var row = $('#tbRole').treegrid('getData');
                    if (row != null) {
                        $.each(row, function (i, n) {
                            if (n != null) {
                                $('#tbRole').treegrid('beginEdit', n.MenuId);
                                var editors = $('#tbRole').treegrid('getEditors', n.MenuId);
                                for (var i = 0; i < editors.length; i++) {
                                    DelEditor(editors[i], n)
                                }
                                var row2 = $('#tbRole').treegrid('getChildren', n.MenuId);
                                for (var i = 0; i < row2.length; i++) {
                                    $('#tbRole').treegrid('beginEdit', row2[i].MenuId);
                                    var editors2 = $('#tbRole').treegrid('getEditors', row2[i].MenuId);
                                    for (var k = 0; k < editors2.length; k++) {

                                        DelEditor(editors2[k], row2[i])
                                    }
                                }
                            }
                        });
                    }
                },
                SaveSelect: function (roleid) {

                    var row = $('#tbRole').treegrid('getData');
                    var RoleManus = "";
                    var RoleManuButtons = "";

                    $.each(row, function (i, n) {
                        if (n != null) {
                            for (items in n) {
                                if (n[items] == "1") {
                                    if (items == "ControlId_Browse") {
                                        RoleManus += n.MenuId + "_";
                                    } else {
                                        var indx = items.indexOf('_');
                                        var buttonId = items.substring(indx + 1, items.length);
                                        RoleManuButtons += n.MenuId + ":" + buttonId + "_"
                                    }
                                }
                            }
                            var row2 = $('#tbRole').treegrid('getChildren', n.MenuId);
                            $.each(row2, function (j, d) {
                                if (d != null) {
                                    for (items in n) {
                                        if (d[items] == "1") {
                                            if (items == "ControlId_Browse") {
                                                RoleManus += d.MenuId + "_";
                                            } else {
                                                var indx = items.indexOf('_');
                                                var buttonId = items.substring(indx + 1, items.length);
                                                RoleManuButtons += d.MenuId + ":" + buttonId + "_"
                                            }
                                        }
                                    }
                                }

                            })

                        }
                    });

                    RoleManus = RoleManus.substring(0, RoleManus.length - 1);
                    RoleManuButtons = RoleManuButtons.substring(0, RoleManuButtons.length - 1);
                    $.ajax({
                        url: BaseUrl + 'SaveRoleOP',
                        type: 'POST',
                        cache: false,
                        data: { RoleManus: RoleManus, RoleManuButtons: RoleManuButtons, RoleId: roleid },
                        error: function () { alert('SaveRoleOP'); },
                        success: function (result) {
                            if (result == "ok") {
                                alert("设置成功")
                            }
                        }
                    });
                }

            }
            function DelEditor(dd, n) {

                if (dd.field != "ControlId_Browse") {
                    var NoHave = true;

                    var indx = dd.field.indexOf('_');
                    var buttonId = dd.field.substring(indx + 1, dd.field.length);

                    $.each(MenuButtonsData, function (j, d) {
                        if (d != null) {
                            if (d.ManuId == n.MenuId && d.ButtonId == buttonId) {
                                NoHave = false;
                            }
                        }
                    });
                    if (NoHave) {
                        $(dd.target).remove();
                    }
                }


            }
            function IsCheckEditor(dd, n, IsSelectAll) {


                var NoHave = true;

                var indx = dd.field.indexOf('_');
                var buttonId = dd.field.substring(indx + 1, dd.field.length);

                $.each(MenuButtonsData, function (j, d) {
                    if (d != null) {
                        if (d.ManuId == n.MenuId && d.ButtonId == buttonId) {
                            NoHave = false;
                        }
                    }
                });
                if (!NoHave || dd.field == "ControlId_Browse") {
                    $(dd.target).attr('checked', IsSelectAll);
                }
            }


            function formatCheck(value) {

                if (value == "1") {

                    var s = '<span class="icon icon-ok">&nbsp;</span>';
                    return s;
                } else if (value == "0") {
                    var s = '×';
                    return s;
                }

            }
        </script>
    }
</head>
<body>
    @* <div style="padding: 5px; border: 1px solid #ddd">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="adddiv();">Add</a>
       <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="$('#del').window('open');">delte</a>
    </div>*@
     <div id="body">
    <table id="dg"></table>
         </div>
    <div id="DivAdd" class="easyui-dialog" style="width: 580px; padding: 10px 20px"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="ff" method="post" novalidate="novalidate">
            <fieldset>
                <legend>角色信息填写栏</legend>
                <table id="tblAdd">
                    <tr>
                        <td>
                            <label for="UserName">角色名称：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="RoleName" name="RoleName" data-options="required:true,validType:'length[1,32]'" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="Description">角色描述：</label></td>
                        <td colspan="3">
                            <textarea style="height: 50px; width: 406px;" id="Remarks" name="Remarks"></textarea>
                        </td>
                    </tr>
                </table>
            </fieldset>

        </form>
        <div style="text-align: center; width: 100%">
            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddRole" iconcls="icon-ok" onclick="AddInfoBind();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivAdd').dialog('close')">关闭</a>
        </div>
    </div>

    <!------------------------弹出修改角色信息的弹出层---------------------------------->
    <div id="DivUpdate" class="easyui-dialog" style="width: 580px; padding: 10px 20px"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="ffUpdate" method="post" novalidate="novalidate">
            <fieldset>
                <legend>角色信息的修改</legend>
                <table id="tblUpdate">
                    <tr>
                        <input type="hidden" id="Id" name="Id" />
                        <td>
                            <label for="UserName">角色名称：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="RoleName1" name="RoleName" data-options="required:true,validType:'length[1,32]'" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="SortCode">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;排序码：</label></td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="RoleOrder1" name="RoleOrder" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Description">角色描述：</label></td>
                        <td colspan="3">
                            <textarea style="height: 50px; width: 406px;" id="Remarks1" name="Remarks"></textarea>
                        </td>
                    </tr>
                </table>
            </fieldset>

        </form>
        <div style="text-align: center; width: 100%">
            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddRole" iconcls="icon-ok" onclick="BindUpdateInfo();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivUpdate').dialog('close')">关闭</a>
        </div>
    </div>

    <div id="DivSetRole" class="easyui-window" style="width: 1000px; height: 700px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">

        <table id="tbRole"></table>


    </div>


</body>



</html>
