<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>天下电动车</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/appweb/meizi/css/amazeui.min.css">
    <style>
        body {
            background: url(/appweb/Content/img/mainbg.jpg) top center no-repeat;
            background-size: cover;
        }
    </style>

</head>
<body>
    <div class="am-g am-g-fixed am-margin-top-xl">
        <div class="am-u-sm-9 am-u-sm-centered">
            <ul class="am-avg-sm-2 am-thumbnails am-text-center">
                <li>
                    <a href="RepairShop.html">
                        <img class="am-thumbnail" src="/appweb/Content/img/repair.png" style="margin-bottom: 0px;" /><p class="am-text-warning" style="margin-top: 5px; margin-bottom: 5px;">附近维修</p>
                    </a></li>

                <li><a href="ServiceNew.html">
                    <img class="am-thumbnail" src="/appweb/Content/img/server.png" style="margin-bottom: 0px;" /><p class="am-text-warning" style="margin-top: 5px; margin-bottom: 5px;">便民信息</p>
                </a></li>
                <li>
                    <a href="Service.html">
                        <img class="am-thumbnail" src="/appweb/Content/img/chongdian.png" style="margin-bottom: 0px;" /><p class="am-text-warning" style="margin-top: 5px; margin-bottom: 5px;">租车、充电</p>
                    </a></li>

                <li>
                    <a href="shop.html">
                        <img class="am-thumbnail" src="/appweb/Content/img/shop.png" style="margin-bottom: 0px;" /><p class="am-text-warning" style="margin-top: 5px; margin-bottom: 5px;">新车信息</p>
                    </a></li>

                <li>
                    <a href="Transaction.html">
                        <img class="am-thumbnail" src="/appweb/Content/img/Transaction.png" style="margin-bottom: 0px;" /><p class="am-text-warning" style="margin-top: 5px; margin-bottom: 5px;">二手车、配件</p>
                    </a></li>
                <li>
                    <a href="../dowlown/index.html">
                        <img class="am-thumbnail" src="/appweb/Content/img/fabu.png" style="margin-bottom: 0px;" /><p class="am-text-warning" style="margin-top: 5px; margin-bottom: 5px;">发布二手</p>
                    </a></li>

            </ul>
        </div>
    </div>

</body>
</html>
